<footer>
  <div class="uk-container">
    <a routerLink="/" routerLinkActive="active" class="uk-link-reset" style="font-size: 1.2em; font-weight: 900;">
      {{siteName}}
    </a>
    <div class="uk-grid-small uk-child-width-1-5@s uk-flex-center uk-text-center" uk-grid>
      <div>
        <div class="uk-margin-small">Item</div>
        <div class="uk-margin-small">Item</div>
        <div class="uk-margin-small">Item</div>
      </div>
      <div>
        <div class="uk-margin-small">Item</div>
        <div class="uk-margin-small">Item</div>
        <div class="uk-margin-small">Item</div>
      </div>
    </div>
  </div>
</footer>