<div id="footer-top"></div>
<footer>
  <div class="uk-container">
    <a routerLink="/" routerLinkActive="active" class="uk-link-reset" style="font-size: 1.4em;">
      {{siteName}}
    </a>
    <hr />
    <div class="uk-grid-small uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-1@s uk-width-1-3@m uk-margin-small">
        <li class="uk-parent">
          <a href="https://www.linkedin.com/in/niels-ebbelink/" uk-icon="icon: linkedin"></a>
        </li>
      </div>
      <div class="uk-width-1-1@s uk-width-1-3@m uk-margin-small">
        <li class="uk-parent">
          <a href="https://github.com/Ebbelink" uk-icon="icon: github"></a>
        </li>
      </div>
      <div class="uk-width-1-1@s uk-width-1-3@m uk-visible@s uk-margin-small">
        <span></span>
      </div>
    </div>
  </div>
</footer>