@import "../../variables.scss";

#banner {
  margin: 20px;
  height: 800px;
  border-top-right-radius: $nav-border-radius;
}

markdown ::ng-deep img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}