<!-- WIDE NAV BAR -->
<nav class="uk-navbar-transparent uk-visible@m"
  uk-navbar="delay-hide: 1000; boundary-align: false; offset: -15; align: right;">

  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active">
        <a routerLink="/" routerLinkActive="active" class="uk-link-reset" style="font-size: 1.2em; font-weight: 900;">
          {{ navbar.SiteName }}
        </a>
      <li class="uk-parent uk-visible@s"><a href="https://www.linkedin.com/in/niels-ebbelink/"
          uk-icon="icon: linkedin"></a></li>
      <li class="uk-parent uk-visible@s"><a href="https://github.com/Ebbelink" uk-icon="icon: github"></a></li>
    </ul>
  </div>



  <div class="search-toggle uk-navbar-left uk-flex-1" hidden>
    <div class="uk-navbar-item uk-width-expand">
      <form class="uk-search uk-search-navbar uk-width-1-1">
        <input class="uk-search-input" type="search" placeholder="Search" autofocus>
      </form>
    </div>
  </div>


  <div class="uk-navbar-right uk-visible@m">
    <ul *ngIf="navbar" class="uk-navbar-nav">
      <li>
        <a class="uk-navbar-toggle search-toggle" uk-search-icon uk-toggle="target: .search-toggle; animation: uk-animation-fade"
          href="#"></a>
        <a class="uk-navbar-toggle search-toggle" hidden uk-close uk-toggle="target: .search-toggle; animation: uk-animation-fade"
          href="#"></a>
      </li>
      <li *ngFor="let mainNavItem of navbar.TopLevelNavItems">
        <a routerLink="{{ mainNavItem.navItem.path }}" routerLinkActive="active" class="uk-link-reset">
          {{ mainNavItem.navItem.title }}
        </a>

        <div *ngIf="mainNavItem.navItem.navItems.length > 0" class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <div *ngFor="let dropdownItem of mainNavItem.navItem.navItems">
              <li class="uk-active uk-nav-header">
                <a routerLink="{{ dropdownItem.path }}" routerLinkActive="active" class="uk-link-reset">
                  {{ dropdownItem.title }}
                </a>
              </li>
              <li *ngFor="let childItem of dropdownItem.navItems">
                <a routerLink="{{childItem.path}}" routerLinkActive="active" class="uk-link-reset">
                  {{ childItem.title }}
                </a>
              </li>
            </div>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- MOBILE NAVBAR -->
<nav class="uk-navbar-container uk-hidden@m">
  <div uk-navbar="delay-hide: 1000; boundary-align: false; offset: -15; align: right;">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a routerLink="/" routerLinkActive="active" class="uk-link-reset" style="font-size: 1.2em; font-weight: 900;">
            {{ navbar.SiteName }}
          </a>
        <li class="uk-parent uk-visible@s"><a href="https://www.linkedin.com/in/niels-ebbelink/"
            uk-icon="icon: linkedin"></a></li>
        <li class="uk-parent uk-visible@s"><a href="https://github.com/Ebbelink" uk-icon="icon: github"></a></li>
      </ul>
    </div>

    <div class="uk-navbar-right">
      <ul *ngIf="navbar.TopLevelNavItems" class="uk-navbar-nav">
        <li>
          <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .search-toggle; animation: uk-animation-fade"
            href="#"></a>
        </li>
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: .nav-toggle; animation: uk-animation-fade"
          href="#mobile-nav-modal" uk-toggle></a>
      </ul>
    </div>
  </div>

  <div class="search-toggle" uk-grid hidden>
    <div class="uk-width-1-5@s"></div>
    <div class="search-bar uk-flex-1 uk-width-3-5@s">
      <div class="uk-navbar-item uk-width-expand">
        <form class="uk-search uk-search-navbar uk-width-1-1">
          <input class="uk-search-input" type="search" placeholder="Search" autofocus>
          <a class="uk-navbar-toggle" uk-close uk-toggle="target: .search-toggle; animation: uk-animation-fade"
            href="#"></a>
        </form>
      </div>
    </div>
    <div class="uk-width-1-5@s"></div>
  </div>

  <div id="mobile-nav-modal" class="uk-grid-match" uk-grid hidden>
    <div class="uk-width-1-5"></div>
    <div class="uk-width-3-5">
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">

        <li *ngFor="let mainNavItem of navbar.TopLevelNavItems"
          [ngClass]="mainNavItem.navItem.navItems.length > 0 ? 'uk-parent' : ''">
          <a routerLink="{{ mainNavItem.navItem.path }}" routerLinkActive="active" class="uk-link-reset">
            {{mainNavItem.navItem.title}}
          </a>
          <ul class="uk-nav-sub" [hidden]="mainNavItem.navItem.navItems.length === 0">
            <li *ngFor="let dropdownItem of mainNavItem.navItem.navItems">
              <a routerLink="{{ dropdownItem.path }}" routerLinkActive="active" class="uk-link-reset">
                {{dropdownItem.title}}
              </a>
              <ul [hidden]="dropdownItem.navItems.length === 0">
                <li *ngFor="let childItem of dropdownItem.navItems">
                  <a routerLink="{{ childItem.path }}" routerLinkActive="active" class="uk-link-reset">
                    {{childItem.title}}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="uk-width-1-5"></div>
  </div>
</nav>