@import "../../variables.scss";

$nav-background-color: #fff;

.uk-search-input{
  color: black !important;
  background-color: white;
  border-radius: 1em;
  padding-left: 1em;
  margin: 10px;
}

nav {
  background: transparent !important;

  & a {
    color: $nav-background-color !important;
  }

  & a::after {
    color: $nav-background-color !important;
  }

  & input {
    color: $nav-background-color;

    &::placeholder {
      color: $nav-background-color;
    }
  }

  & .search-bar {
    display: flex;

    // Style the search bar form
    & form {
      display: flex;
      flex-direction: row;

      background-color: white;
      color: black !important;
      border-radius: 2.5em;
      padding-left: 20px;
    }

    // Reset the height of the toggle so that we don't get a massively high searh bar
    & .uk-navbar-toggle {
      min-height: 1px !important;
    }

    & a {
      color: black !important;
    }

    & input {
      color: black;

      &::placeholder {
        color: black;
      }
    }
  }

  & .search-toggle{
    & .uk-grid-margin{
      margin-top: 0;
    }
  }
}

.uk-navbar-dropdown.uk-open {
  background-color: #ffffff;
  border-radius: 0.45em;

  & .uk-navbar-dropdown-nav a{
    color: #000000 !important;
  }
}

.uk-nav-header>a {
  font-size: 1.3em;
  font-weight: 525;
}

#mobile-nav-modal {
  top: 80px;

  & .uk-nav {
    padding-left: 20px;
  }
}
