@import url("https://fonts.googleapis.com/css?family=Staatliches");

$shadow: 6px 4px #00000091;

// TEXT DEFAULTS
$text-color-primary: #333333;
$text-color-contrast: #ffffff;
$text-font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$text-font-family-attention: Staatliches;

// $primary-color: #d211f0;
// $secondary-color: #4287f5;

$color-1: #a1469e;
$color-2: #274dc6;
$color-3: #fbba18;
$color-4: #83c7d5;
$color-5: #eeb1a2;
$color-6: #02a699;
$color-7: #140f10;
$color-8: #f45c51;
$color-9: #6b194e;
$color-10: #ffffff;

$color-background-default: $color-10;



// NAVBAR
$nav-border-radius: 28px;